---
layout: index.pug
permalink: "/"
---

noscript
  p
    | Your javascript is deactivated. Please select your language manually. Please note that some aspects of the site use Javascript and might not be available to you. Sorry about the inconvenience.

script.
  var userLang = navigator.language || navigator.userLanguage;
  switch(userLang.substring(0,2)){
      case 'en':
          window.location.href = '#{site.baseurl}/en/index.html';
          break;
      case 'fr':
          window.location.href = '#{site.baseurl}/fr/index.html';
          break;
      case 'de':
          window.location.href = '#{site.baseurl}/de/index.html';
          break;
      case 'nl':
          window.location.href = '#{site.baseurl}/nl/index.html';
          break;
      case 'es':
          window.location.href = '#{site.baseurl}/es/index.html';
          break;
      case 'ru':
          window.location.href = '#{site.baseurl}/ru/index.html';
          break;
     case 'ar':
          window.location.href = '#{site.baseurl}/ar/index.html';
          break;
     case 'pt':
          window.location.href = '#{site.baseurl}/pt/index.html';
          break;
     case 'my':
          window.location.href = '#{site.baseurl}/my/index.html';
          break;
     case 'id':
          window.location.href = '#{site.baseurl}/id/index.html';
          break;
      default:
          // if it's something else fall back to the default
          window.location.href = '#{site.baseurl}/en/index.html';
          break;
  }
