html,
body {
  margin: 0;
  padding: 0;
  position: relative;
}

html[dir="rtl"] p,
html[dir="rtl"] {
  text-align: right !important;
}

body::before {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../images/dfak_bg.png") no-repeat;
  background-size: cover;
  content: " ";
  z-index: -1;
}

/**
  * Limit the container in
  * width for big screens
  */
.fixed-width-container {
  width: 1024px;
  max-width: 100%;
  margin: 0 auto;
}

.fixed-width-smaller-container {
  width: 720px;
  max-width: 100%;
  margin: 0 auto;
}

.contents {
  grid-column: main;
  font-family: serif;
}

.main-contents {
  padding: 20px 30px;
}

#menu .custom-brand {
  padding-top: 7px;
  padding-bottom: 7px;
}

.crumb {
  margin: 35px 0px 0px;
  font-size: 18px;
}

header {
  background-color: #fff;
  /* -webkit-font-smoothing: antialiased; */
  font-weight: bolder;
  font-size: 1.2em;
}

header.post-header {
  background-color: unset;
}

footer {
  background-color: #030f2b;
  color: #fff;
  height: 62px;
  width: 100%;
  font-weight: bolder;
  font-size: 1.2em;
}

/* Immediate children of .cols have equal heights  */
.cols {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.cols > div {
  flex: auto;
}

.contents p {
  font-size: 18px;
  font-family: serif;
}

a.bullet {
  font-family: serif;
  font-size: 18px;
}

.post {
  font-family: serif;
  font-size: 18px;
}

.topic {
  margin-bottom: 20px;
}

.post ul,
.topic ul {
  margin: 0.75em 0;
  padding: 0 40px;
  list-style: none;
}

.post ul > li:before,
.topic ul > li:before {
  content: "";
  border-color: transparent #111;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}

.post li p,
.topic li p {
  margin-block-start: 0px;
}

#startpara {
  padding-top: 75px;
  padding-bottom: 75px;
}

#startpara p {
  width: 75%;
  font-family: serif;
  display: inline;
  font-size: 18px;
}

#startpara .pure-u-1.pure-u-md-3-4 {
  margin-bottom: 15px;
}

#startpara .pure-u-1.pure-u-md-1-4 {
  text-align: center;
}

a#startbutton {
  /* float: right; */
  background-color: #1eb6c1;
  padding: 5px 55px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  /* font-family: sans-serif; */
}

.section {
  background-color: #d0f1f2;
  padding: 20px;
  margin-top: 30px;
}

.section .question h1 {
  /* font-family: sans-serif; */
  text-align: center;
  margin: 70px auto;
  font-size: 1.5em;
}

.post .answers ul {
  list-style: none;
  /* font-family: sans-serif; */
}

.post .answers ul li {
  border: 1px solid #1eb6c1;
  margin-bottom: 30px;
  padding: 5px;
  text-align: center;
}

.post .answers ul li a {
  color: #1eb6c1;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.post .answers ul li:before {
  content: unset;
}

.post > blockquote {
  background-color: #fff;
  margin: 25px 0px 0px;
  padding: 25px;
}

.post.end > blockquote {
  position: relative;
  background-color: #fff;
  margin: 25px 0px 0px;
  padding: 25px;
}
.post.end > blockquote:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-width: 32px 32px 0 0;
  border-style: solid;
  border-color: #000 rgb(42, 223, 244);
}

.post.end > blockquote > p {
  font-weight: bold;
  /* font-family: sans-serif; */
}

.post > p {
  margin: 0px 0px 0px;
  padding: 25px 0px 10px;
}

.post > ul,
.post > ul li {
  margin: 0px 0px 0px;
  padding: 0px 25px 10px;
}

.post blockquote p,
.post blockquote ul,
.post blockquote ul li {
  margin: 0px 0px 0px;
  /* padding: 5px 25px 5px; */
  font-size: 18px;
}

.post p:empty {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.intro,
.how {
  text-align: center;
}
.row {
  text-align: center;
  padding: 10px;
}

.intro {
  padding-bottom: 0px;
  padding-top: 50px;
}

.how {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #d0f1f2;
}

.header {
  text-align: center;
  padding: 90px 50px 0px;
}

.intro .contents {
  background-color: #fff;
  padding: 20px 30px;
  font-size: 24px;
  /* font-weight: bold; */
}

.how .contents {
  padding: 0px 0px 50px;
  font-size: 24px;
  /* font-weight: bold; */
}

.header h1 {
  text-transform: uppercase;
  font-size: 36px;
  background-color: #fff;
  display: inline;
  padding: 5px 20px;
  /* font-family: sans-serif; */
}

.header h1#sub {
  text-transform: initial;
  font-size: 22px;
  color: #fff;
  background-color: #000;
  display: inline;
  padding: 5px 10px;
  line-height: 48px;
  font-family: serif;
  font-weight: normal;
}

.how .separator {
  padding: 0px 20px;
}

.how h1 {
  text-transform: uppercase;
  font-size: 30px;
  display: inline-block;
  padding: 30px 70px 0px;
  border-top: 8px solid black;
  /* font-family: sans-serif; */
  margin-top: 0px;
  margin-bottom: 45px;
}

a.topic {
  text-decoration: none;
  color: #000;
  font-family: serif;
  font-weight: bolder;
  font-size: 18px;
}

a,
a:visited {
  color: #000;
}

a.topic p {
  width: 154px;
  text-align: center;
  margin: 0px auto;
}

.bottom {
  padding-top: 0px;
  padding-bottom: 20px;
  background-color: #fff;
}

.grey {
  background-color: #fff;
}

.lightgrey {
  background-color: #fff;
}

.how h1 {
  text-transform: uppercase;
}

.how h4 {
  margin-top: 0px;
  font-size: 18px;
  font-weight: normal;
}

.intro p,
.how p,
.bottom p {
  text-align: left;
}

.how p.after {
  padding: 0px 20px;
  font-size: 18px;
  margin: 0px auto;
  margin-top: 25px;
}

.bottom h1 {
  font-size: 22px;
  min-height: 3em;
  text-align: left;
  padding: 50px;
}

.bottom p {
  font-family: serif;
  font-size: 18px;
}

.bottom h1,
.bottom p {
  padding: 0px 0px;
  margin: 40px 25px 40px 0px;
}

.bottom .contents .pure-g {
  padding: 0px 20px;
}

.pure-u-1.pure-u-md-1-4.topic {
  margin: 0px 15px;
}

.post-contents {
  margin-bottom: 30px;
}

.sidebar {
  padding-left: 20px;
}

.organisation {
  /* border: 1px solid grey; */
  margin-top: 25px;
  padding: 0px 50px 0px 0px;
  background-color: #fff;
}

.organisation .logo img {
  float: left;
  padding: 0px;
  display: block;
  max-width: 100%;
  max-height: 220px;
  width: auto;
  height: auto;
}

.organisation .info {
  padding: 20px 0px;
}

.organisation .info p {
  font-family: serif;
}

/* .organisation .info h2,
.organisation .info p,
.organisation .info div.additional,
.organisation .info div.tags {
  margin-left: 20px;
} */

.organisation .info .additional h2,
.organisation .info .additional p {
  margin-left: 0px;
}

.organisation .info h3 {
  font-size: 22px;
}

.services .pure-u-1-2 {
  width: 49%;
  padding-left: 5px;
}

span.pre {
  word-wrap: break-word;
  white-space: pre-wrap;
}
a.expand,
a.fold {
  text-transform: uppercase;
  background-color: #fff;
  color: #1eb6c1;
  border: 1px solid #d0f1f2;
  font-weight: bold;
  font-size: 20px;
}

.organisation .contacts .method {
  background-color: #d0f1f2;
  padding: 5px;
  color: #000;
  margin-bottom: 5px;
  font-weight: bold;
}

.organisation .tags {
  margin: 15px 0px;
}

.organisation .tag {
  font-weight: bold;
  background-color: #d0f1f2;
}

.organisation .tag {
  margin: 0.1em 0.1em;
  line-height: 1.5em;
  padding: 0.3em 1em;
  color: #000;
  font-size: 80%;
  display: inline-block;
}

span.bold {
  font-weight: bold;
}

.collapsed {
  display: none;
}

a.bullet:before {
  font-size: 65%;
  content: "\25BA";
  margin-right: 10px;
}

.pure-menu-heading {
  text-transform: uppercase;
  color: #000;
}

.pure-menu-link {
  color: #000;
}

.foot .pure-menu-link {
  color: #fff;
}

.pure-button:hover {
  background-image: none;
  background-color: #fafafa;
}

.pure-button-primary,
a.pure-button-primary {
  background-color: #000;
  color: #fff;
}

.pure-menu-link:hover {
  background-color: #eee;
  color: #000;
}

.pure-menu-link {
  padding: 20px 1em;
}

.pure-menu-children {
  background-color: #fff;
}

.custom-wrapper {
  /* -webkit-font-smoothing: antialiased; */
  /* overflow: hidden; */
}

.custom-menu-3 {
  text-align: right;
}

.custom-toggle {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 13px;
  right: 11px;
  display: none;
}

.custom-toggle .bar {
  background-color: #000;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 100px;
  position: absolute;
  top: 18px;
  right: 7px;
}

.custom-toggle .bar:first-child {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
}

.custom-toggle.x .bar {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.tips {
  background-color: #d0f1f2;
  padding: 10px;
  font-family: serif;
  font-size: 18px;
  /* width: 700px; */
}
.resources {
  background-color: #fff;
  padding: 10px;
  font-family: serif;
  font-size: 18px;
  /* width: 240px; */
}

.tips h1,
.tips h2,
.tips h3,
.tips h4,
.resources h2,
.resources h3 {
  /* font-family: sans-serif; */
  padding-left: 20px;
}

.tips > p,
.resources > p {
  padding: 10px 20px;
}

.bottom-tips {
  margin-top: 25px;
}

.bottom-tips .pure-g .pure-u-1 {
  background-color: #fff;
}

.filters {
  margin-top: 9px;
  margin-right: 15px;
  /* float: left; */
}

.filters select {
  width: 200px;
}

.filters > span {
  margin-bottom: 15px;
}

/* .filters select.language-select {
  width: 200px;
}
.filters select.service-select {
  width: 200px;
}

.filters select.beneficiary-select {
  width: 250px;
} */

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
  /* font-family: sans-serif; */
  font-weight: bold;
  text-transform: uppercase;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
  /* font-family: sans-serif; */
  font-weight: bold;
  text-transform: uppercase;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black;
  /* font-family: sans-serif; */
  font-weight: bold;
  text-transform: uppercase;
}

.select2-selection__placeholder {
  color: #ff0000;
}

.select2-container {
  background: transparent;
}

.select2-container .select2-selection {
  border: 2px solid black;
  border-radius: 0;
  /* height: 40px; */
  background: rgba(0, 0, 0, 0);
  /* margin-right: 20px; */
  padding: 0px;
  /* font-family: sans-serif; */
  font-weight: bold;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-color: #000 transparent transparent transparent;
}

.select2-container .select2-selection span:first-child {
  color: black;
}

.select2-results ul li {
  color: black;
}

.select2-dropdown {
  /* background: rgba(0, 0, 0, 0.2); */
}
.select2-search input:first-child {
  background: transparent;
}

.topic.pure-g {
  display: table;
  /* height: 100%; */
  margin-top: 35px;
}

.topic.pure-g .pure-u-1-3,
.topic.pure-g .pure-u-2-3 {
  display: table-cell;
}

.topic .post-content {
  background-color: #fff;
}

.topic .post-content .content {
  background-color: white;
  padding: 20px;
  padding-left: 30px;
  font-size: 18px;
  font-family: serif;
}

.topic .post-content .content h1 {
  display: none;
}

.topic .logo {
  background-color: #d0f1f2;
  text-align: center;
}

.topic .side {
  margin-top: 45px;
  padding: 0px 25px;
}

.consider {
  margin-top: 35px;
  background-color: white;
  padding: 25px;
  position: relative;
}

.consider:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-width: 32px 32px 0 0;
  border-style: solid;
  border-color: #000 rgb(42, 223, 244);
}

.corner {
  padding: 25px;
  position: relative;
}

.corner:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-width: 32px 32px 0 0;
  border-style: solid;
  border-color: #000 rgb(42, 223, 244);
}

.consider ul {
  font-size: 18px;
  font-family: serif;
}

.consider p {
  font-size: 18px;
  font-weight: bold;
  /* font-family: sans-serif; */
  padding: 5px 20px 0px;
  margin: 0px;
}

.start {
  margin-top: 35px;
  background-color: #d0f1f2;
  padding: 20px;
}

.start p,
.start ul {
  font-size: 18px;
  font-family: serif;
}

.previous {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

a#previousbutton {
  background-color: #1eb6c1;
  padding: 5px 55px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  /* font-family: sans-serif; */
}

/**
 * Make body at least 100% height
 * You can also use a combination
 * of height: 100% in <html> and
 * min-height: 100% in <body>.
 */
.holy-grail {
  min-height: 100vh;
}

/**
 * Let's do a column distribution
 * (mobile first)
 * flex value is 1 1 auto to make
 * body skrinkable and extensible
 */
.holy-grail,
.holy-grail-body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

/**
 * Content body item is made
 * extensible too.
 */
.holy-grail-content {
  flex: 1 1 auto;
}

/**
 * Put the first sidebar before content.
 * If you need sidebar to be before content
 * only in big screen put those 3 next lines
 * in @media block.
 */
.holy-grail-sidebar-1 {
  order: -1;
}

/* Fix text squishing in firefox */
html[lang="my"] *,
html[lang="my"] .post li p,
html[lang="my"] .topic li p {
  word-break: break-all;
}

@media (max-width: 768px) {
  #menu .custom-menu-3 {
    text-align: center;
  }

  #menu .pure-menu-horizontal {
    display: none;
  }

  #menu .custom-menu-3 ul li {
    background-color: #fffffff9;
    font-size: 0.9em;
  }

  #menu .pure-menu-link {
    padding: 10px 1em;
  }

  #menu.open .pure-menu-heading,
  #menu .pure-menu-link {
    border-bottom: 1px solid #000;
  }

  .custom-toggle {
    display: block;
  }

  .bottom {
    margin: 0px 0px 0px;
  }
  .bottom h1 {
    min-height: unset;
    margin: 25px 0px 15px;
  }
  .bottom p {
    margin: 15px 0px;
  }

  .pure-menu-allow-hover:hover > .pure-menu-children {
    position: relative;
    left: unset;
  }
}
